@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <a data-ajax="true" data-ajax-url="" class="btn btn-primary btn-sm"><i class="fa fa-plus me-2"></i>Reload</a>
    </div>
</div>

<div class="row mb-3">
    <div class="col">

    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>

    </script>
}